body{
	background:pink;
	font-family: "Helvetica";
	height: 100%;
	}
	
a	{
	text-align: left;
	}
	
a:hover{ 
	color:green;
	}
	
nav {
	text-align: left;
	font-size: 36px;
    padding: 10px;
    overflow: hidden;
    background-color: lightblue;
    display: hidden
    }
    
h1 { 
	font-size: 48px;
	}
	
p 	{
	font-size: 18px;
	}

ul 	{
	font-size: 18px;
	}

li 	{
	font-size: 18px;
	}
	
#aboutMe {
	margin-left: 30%;
	margin-right: 30%;
	}
    
footer{
	text-align: left;
	font-size: 36px;   
	padding: 10px;
    background-color: lightblue;   	
    } 
    
.footerClass{
    margin-top: 40%;
	}
	
a	{
	text-align: left;
	}
	
#body{
	text-align: center;
	}
	
table{
	border: 2px solid black;
	background-color: orange;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding: 10px;
	}
	
table:hover {
	background-color: white;
	}
	
form{
	border: 4px solid black;
	width: 25%;	
	margin-left: auto;
	margin-right: auto;
	background-color: orange;
	}
	
#email{
	border: 2px solid black;
	background-color: orange;	
	margin-right: 90%;
	padding: 10px;
	font-size: 18px;
	}
	

